<!DOCTYPE html>
<html>
<head>
	<title>問卷調查</title>
	<link href="../static/style/bootstrap.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
		}
		.topbar-container{
			width: 100%;
			height: 48px;
			position: fixed;
			color: white;
			background-color: black
		}
		.main{
			border: 1px;
			padding-top:40px; 
		}
		.option{
			padding: 10px 60px 0px 0px;
			display: inline-block;
		}
		span{
			font-size: 15px;
		}
	</style>	
</head>
<body>
	<div class="topbar-container">
		<div class="topbar-title" style="font-size: 20px; padding-left: 50px; line-height: 48px;">
			{{sysname}} Questionnaire
		</div>		  
	</div>
	<div class="main">
		<form enctype="multipart/form-data"  action="{% url 'answers' %}" method='post'>
		<input name="sysname" value={{ sysname }} style="display: none;">
		<input name="username" value={{ user }} style="display: none;"> 
		<input name="team" value={{ team }} style="display: none;">  
		<div style="padding:30px 50px 0px 50px">
		<div>
			<p style="font-size: 25px;font-family: cursive;font-weight: bold;">一. 客觀題</p><br>
			<p style="font-size: 15px;">1. 在這次 build 期間，請問是否使用過此系統？</p>
			<label class="option">
				<input type="radio" name="k1" id="k1" value="有" required></input><span>&nbsp;A. 有(请继续作答)</span>
			</label>
			<label class="option">
				<input type="radio" name="k1" id="k1" value="沒有"></input><span>&nbsp;B. 没有(请停止作答)</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">2. 在這次 build 期間，請問你使用此系統的次數?</p>
			<label class="option">
				<input type="radio" name="k2" id="k2" value="每天" required></input><span>&nbsp;A. 每天</span>
			</label>
			<label class="option">
				<input type="radio" name="k2" id="k2" value="一周3~5次"></input><span>&nbsp;B. 一周3~5次</span>
			</label>
			<label class="option">
				<input type="radio" name="k2" id="k2" value="一周1~2次"></input><span>&nbsp;C. 一周1~2次</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">3. 在這次 build 期間，請問你使用此系統每次大約時間是?</p>
			<label class="option">
				<input type="radio" name="k3" id="k3" value="10分鐘之內" required></input><span>&nbsp;A. 10分鐘之內</span>
			</label>
			<label class="option">
				<input type="radio" name="k3" id="k3" value="10分鐘 ~ 半小時之內"></input><span>&nbsp;B. 10分鐘 ~ 半小時之內</span>
			</label>
			<label class="option">
				<input type="radio" name="k3" id="k3" value="半小時 ~ 一小時之內"></input><span>&nbsp;C. 半小時 ~ 一小時之內</span>
			</label>
			<label class="option">
				<input type="radio" name="k3" id="k3" value="一小時 ~ 兩小時之內"></input><span>&nbsp;D. 一小時 ~ 兩小時之內</span>
			</label>
			<label class="option">
				<input type="radio" name="k3" id="k3" value="兩小時以上"></input><span>&nbsp;E. 兩小時以上</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">4. 總體來說，請問此系統是否有節省你的工作量？</p>
			<label class="option">
				<input type="radio" name="k4" id="k4" value="節省很多" required></input><span>&nbsp;A. 節省很多</span>
			</label>
			<label class="option">
				<input type="radio" name="k4" id="k4" value="有節省一些"></input><span>&nbsp;B. 有節省一些</span>
			</label>
			<label class="option">
				<input type="radio" name="k4" id="k4" value="沒差別"></input><span>&nbsp;C. 沒差別</span>
			</label>
			<label class="option">
				<input type="radio" name="k4" id="k4" value="反而多了一些工作量"></input><span>&nbsp;D. 反而多了一些工作量</span>
			</label>
			<label class="option">
				<input type="radio" name="k4" id="k4" value="多了很多工作"></input><span>&nbsp;E. 多了很多工作</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">5. 你認為系統是否有在不斷改善中?</p>
			<label class="option">
				<input type="radio" name="k5" id="k5" value="有" required></input><span>&nbsp;A. 有</span>
			</label>
			<label class="option">
				<input type="radio" name="k5" id="k5" value="沒有"></input><span>&nbsp;B. 沒有</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">6. 總體來說，請問你對這個系統滿意嗎？</p>
			<label class="option">
				<input type="radio" name="k6" id="k6" value="非常滿意" required></input><span>&nbsp;A. 非常滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k6" id="k6" value="很滿意"></input><span>&nbsp;B. 很滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k6" id="k6" value="滿意"></input><span>&nbsp;C. 滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k6" id="k6" value="不滿意"></input><span>&nbsp;D. 不滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k6" id="k6" value="非常不滿意"></input><span>&nbsp;E. 非常不滿意</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">7. 總體來說，請問你對這個系統的運行速度滿意嗎？</p>
			<label class="option">
				<input type="radio" name="k7" id="k7" value="非常滿意" required></input><span>&nbsp;A. 非常滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k7" id="k7" value="很滿意"></input><span>&nbsp;B. 很滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k7" id="k7" value="滿意"></input><span>&nbsp;C. 滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k7" id="k7" value="不滿意"></input><span>&nbsp;D. 不滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k7" id="k7" value="非常不滿意"></input><span>&nbsp;E. 非常不滿意</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">8. 總體來說，請問你對這個系統的穩定性滿意嗎？</p>
			<label class="option">
				<input type="radio" name="k8" id="k8" value="非常滿意" required></input><span>&nbsp;A. 非常滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k8" id="k8" value="很滿意"></input><span>&nbsp;B. 很滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k8" id="k8" value="滿意"></input><span>&nbsp;C. 滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k8" id="k8" value="不滿意"></input><span>&nbsp;D. 不滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k8" id="k8" value="非常不滿意"></input><span>&nbsp;E. 非常不滿意</span>
			</label>
			<br></br>
		</div>				
		<div>
			<p style="font-size: 15px;">9. 系統資訊安排是否滿意？</p>
			<label class="option">
				<input type="radio" name="k9" id="k9" value="非常滿意" required></input><span>&nbsp;A. 非常滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k9" id="k9" value="很滿意"></input><span>&nbsp;B. 很滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k9" id="k9" value="滿意"></input><span>&nbsp;C. 滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k9" id="k9" value="不滿意"></input><span>&nbsp;D. 不滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k9" id="k9" value="非常不滿意"></input><span>&nbsp;E. 非常不滿意</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">10. 系統資訊操作流程是否滿意？</p>
			<label class="option">
				<input type="radio" name="k10" id="k10" value="非常滿意" required></input><span>&nbsp;A. 非常滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k10" id="k10" value="很滿意"></input><span>&nbsp;B. 很滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k10" id="k10" value="滿意"></input><span>&nbsp;C. 滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k10" id="k10" value="不滿意"></input><span>&nbsp;D. 不滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k10" id="k10" value="非常不滿意"></input><span>&nbsp;E. 非常不滿意</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">11. 系統提供的功能是否滿意？</p>
			<label class="option">
				<input type="radio" name="k11" id="k11" value="非常滿意" required></input><span>&nbsp;A. 非常滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k11" id="k11" value="很滿意"></input><span>&nbsp;B. 很滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k11" id="k11" value="滿意"></input><span>&nbsp;C. 滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k11" id="k11" value="不滿意"></input><span>&nbsp;D. 不滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k11" id="k11" value="非常不滿意"></input><span>&nbsp;E. 非常不滿意</span>
			</label>
			<br></br>
		</div>
		<div>
			<p style="font-size: 15px;">12. 系統的提示訊息是否滿意？</p>
			<label class="option">
				<input type="radio" name="k12" id="k12" value="非常滿意" required></input><span>&nbsp;A. 非常滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k12" id="k12" value="很滿意"></input><span>&nbsp;B. 很滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k12" id="k12" value="滿意"></input><span>&nbsp;C. 滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k12" id="k12" value="不滿意"></input><span>&nbsp;D. 不滿意</span>
			</label>
			<label class="option">
				<input type="radio" name="k12" id="k12" value="非常不滿意"></input><span>&nbsp;E. 非常不滿意</span>
			</label>
			<br></br>
		</div>
		<div>
			{% if questions %}
			<p style="font-size: 25px;font-family: cursive;font-weight: bold;">二. 主觀題</p><br>
			{% for ques in questions %}
			<p style="margin-bottom: 15px;width: 50%;font-size: 15px;">{{ forloop.counter }}. {{ ques.questions }}</p>
			<textarea name="z{{ forloop.counter }}" style="width: 50%;margin-bottom: 20px;resize:none;" rows={{ ques.rows }}></textarea>
			{% endfor %}
			{% endif %}		
		</div>
		<button class="btn btn-primary" type="submit" style="margin-bottom: 20px;">提交</button>
		</div>
		</form>
	</div>
</body>
