* {
    margin: 0px;
    padding: 0px;
    background: #F0FFFF
}
a {
    text-decoration: none;
    color: #b0c4de;
}
.login {
    margin: 100px 200px;
    height: 260px;
    width: 300px;
    font-size: 18px;
    border: 1px solid #eee;
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
}
.user {
    margin: 20px 45px;
    background: #fff;
}
input {
    border: 1px solid #87cefa;
    width: 200px;
    height: 28px;
    border-radius: 2px;
    background: #fff;
    display: block;
    margin-top: 8px;
}
.pwd {
    margin: 20px 45px;
    background: #fff;
    position: relative;
}
.pwd .forget a {
    display: block;
    position: absolute; 
    right: 12px;
    top: 8px;
    background: #fff;
    font-size: 12px;
}
.login_button a {
    display: block;
    width: 86px;
    height: 25px;
    border: 1px solid #abcdef;
    position: absolute;
    right: 52px; 
    bottom: 54px; 
    background: #87cefa;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    color: #fff;
}
.register_button .text{
    position: absolute; 
    left: 28px;
    bottom: 68px;
    font-size: 12px;
    background: #fff;
    color: #b0c4de;
}    
.register_button .create{
    position: absolute; 
    left: 68px;
    bottom: 54px;
    font-size: 12px;
    background: #fff;
    color: #87cefa;
}    
