main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body {
    background: rgba(240, 240, 240, 0.9);
}
.type-container {
    width: 200px;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type-wrap {
    height: 540px;
    display: flex;
    justify-content: space-around;
}
.type-wrap ol {
    padding-left: 55px;
    display: flex;
    flex-direction: column;
}
.type-wrap .borderBar {
    border: 1px solid #ddd;     
    width: 9px;
    border-radius: 8px;
    margin-left: 25px;
    position: relative;
    background: #ddd;
}
.type-wrap .borderBar .circle {
    width: 20px;
    height: 20px;
    left: 50%;
    top: 0px;
    margin-left: -10px; 
    margin-top: -10px; 
    position: absolute;
    background: #74a4d4;
    border-radius: 50%;
    transition: all 0.5s;
}
.type-list .type {
    font-size: 18px;
    text-align: right;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.type-list .type:hover {
    color: #74a4d4;
}
.type-list .type.active {
    color: #76a4d4;
}
.table-container {
    flex-grow: 1;
    margin-left: 200px;
    height: calc(100vh - 80px);
    margin-top: 80px;
    transition: all 0.5s;
}
.table-container section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-wrap {
    width: 80%;
    height: 540px;
    position: relative;
    display: flex;
    padding: 22px 20px;
    background: #fff;
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.4);
    overflow: auto;
}
.table-container table {
    width: 100%; 
    margin: 0px auto;
    text-align: center;
    border-collapse: collapse;
}
.table-container .add {
    position: absolute;
    top: 28px;
    right: 32px;
    display: none;
}
.table-container table caption{
    font-size: 22px;
    margin-bottom: 18px;
    text-align: left;
}
.table-container table tr{
    height: 46px;
    border-bottom: 2px solid #ddd;
}
.table-container table thead tr{
    /* background: #f1f1f1a8; */
}
.table-container table i{
    color: #b5acac;
}
.table-container table tbody tr:nth-child(even){
    /* background: #f1f1f1a8; */
}
.table-wrap[project=calculate] {
    margin-top: -80px;
}
.table-wrap .button .send{
    padding-right: 40px;
}
.table-wrap .button .cal{
    padding-right: 20px;
}
.table-wrap .button span:hover{
    color: rgb(112, 215, 202); 
}
